In [1]:
import pandas as pd

In [14]:
df = pd.read_csv(
    "data/clean/lowa_liquor_sales/lowa_liquor_sales_clean.csv",
    parse_dates=["Date"],
)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2338 entries, 0 to 2337
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Invoice/Item Number    2338 non-null   object
 1   Date                   2338 non-null   datetime64[ns]
 2   Store Number           2338 non-null   int64
 3   Store Name             2338 non-null   object
 4   Category               2338 non-null   int64
 5   Category Name          2338 non-null   object
 6   Vendor Number          2338 non-null   int64
 7   Vendor Name            2338 non-null   object
 8   Item Number            2338 non-null   int64
 9   Item Description       2338 non-null   object
 10  Pack                   2338 non-null   int64
 11  Bottle Volume (ml)     2338 non-null   int64
 12  State Bottle Cost      2338 non-null   float64
 13  State Bottle Retail    2338 non-null   float64
 14  Bottles Sold           2338 non-null   int64
 15  Sale (Dollars)         2338 non-null   float64
 16  Volume Sold (Liters)   2338 non-null   float64
 17  Volume Sold (Gallons)  2338 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(7), object(5)
memory usage: 328.9+ KB

In [16]:
df.head(3)

,Invoice/Item Number,Date,Store Number,Store Name,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,INV-00090800001,2016-09-01,4725,Casey's General Store #1548 / Ankeny,1012100,Canadian Whiskies,260,DIAGEO AMERICAS,11296,Crown Royal,12,750,15.07,22.61,10,22.61,7.50,1.98
1,INV-00090800022,2016-09-01,4725,Casey's General Store #1548 / Ankeny,1062400,Spiced Rum,260,DIAGEO AMERICAS,43331,Captain Morgan Spiced Rum Mini,12,500,4.80,7.20,1,7.20,0.50,0.13
2,INV-00090800021,2016-09-01,4725,Casey's General Store #1548 / Ankeny,1022200,100% Agave Tequila,410,Patron Spirits Company,88294,Patron Silver Tequila,12,375,14.00,21.00,3,21.00,1.12,0.29

In [17]:
unique_values = df["Store Number"].unique()

In [18]:
len(unique_values)

47

In [19]:
unique_values

array([4725, 4767, 5303, 5097, 3909, 3973, 5336, 5223, 4880, 4777, 4467,
       2588, 4623, 4929, 5273, 4783, 5279, 5275, 4653, 5270, 5059, 4482,
       5259, 5242, 5197, 5107, 5340, 5088, 5070, 5235, 5185, 5248, 2641,
       5169, 5305, 5307, 4478, 4983, 4416, 5388, 5167, 4319, 9911, 5230,
       3822, 2556, 4378])

In [30]:
df[df["Store Number"] == 2588].head(10)

,Invoice/Item Number,Date,Store Number,Store Name,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
436,INV-01967300110,2016-12-06,2588,Hy-Vee Food and Drug #6 / Cedar Rapids,1070000,Cocktails / RTD,395,PROXIMO,58838,Jose Cuervo Authentic Lime Margarita,6,1750,8.20,12.30,1,73.80,1.75,0.46
437,INV-01967300111,2016-12-06,2588,Hy-Vee Food and Drug #6 / Cedar Rapids,1070000,Cocktails / RTD,395,PROXIMO,58886,Jose Cuervo Light White Peach Margarita,6,1750,8.20,12.30,1,73.80,1.75,0.46
438,INV-01967300112,2016-12-06,2588,Hy-Vee Food and Drug #6 / Cedar Rapids,1070000,Cocktails / RTD,35,BACARDI USA INC,56846,Bacardi Party Drinks Rum Island Iced Tea,6,1750,6.98,10.47,1,62.82,1.75,0.46
439,INV-01967300113,2016-12-06,2588,Hy-Vee Food and Drug #6 / Cedar Rapids,1070000,Cocktails / RTD,421,SAZERAC COMPANY INC,59231,Ice Box Mudslide,6,1750,6.76,10.14,1,60.84,1.75,0.46
440,INV-01967300091,2016-12-06,2588,Hy-Vee Food and Drug #6 / Cedar Rapids,1011600,Straight Rye Whiskies,260,DIAGEO AMERICAS,27025,Bulleit 95 Rye,12,750,15.00,22.50,6,22.50,4.50,1.18
450,INV-01967300109,2016-12-06,2588,Hy-Vee Food and Drug #6 / Cedar Rapids,1081400,American Schnapps,434,LUXCO INC,81206,Paramount Peppermint Schnapps,12,750,3.75,5.63,1,67.56,0.75,0.19
451,INV-01967300106,2016-12-06,2588,Hy-Vee Food and Drug #6 / Cedar Rapids,1081000,American Cordials & Liqueurs,55,SAZERAC NORTH AMERICA,73986,Di Amore Amaretto,12,750,6.00,9.00,6,9.00,4.50,1.18
452,INV-01967300107,2016-12-06,2588,Hy-Vee Food and Drug #6 / Cedar Rapids,1081200,Cream Liqueurs,255,WILSON DANIELS LTD,68559,Kerrygold Irish Cream Liqueur,6,750,12.84,19.26,1,115.56,0.75,0.19
453,INV-01967300092,2016-12-06,2588,Hy-Vee Food and Drug #6 / Cedar Rapids,1011200,Straight Bourbon Whiskies,65,Jim Beam Brands,19226,Knob Creek,6,750,22.04,33.06,1,198.36,0.75,0.19
454,INV-01967300093,2016-12-06,2588,Hy-Vee Food and Drug #6 / Cedar Rapids,1011400,Tennessee Whiskies,85,Brown Forman Corp.,26586,Gentleman Jack,12,750,20.01,30.02,4,30.02,3.00,0.79

In [34]:
df[df["Store Number"] == 2588].to_csv(
    "data/processed/lowa_liquor_sales/store_2588.csv", index=False
)

In [22]:
max_count = 0
the_store_number = None

for store_number in df["Store Number"].unique():
    count = sum(df["Store Number"] == store_number)

    if count > max_count:
        max_count = count
        the_store_number = store_number

print(
    f"The store number with the most data is {the_store_number} with {max_count} sales"
)

The store number with the most data is 2588 with 360 sales

In [27]:
store2count = dict()

for store_number in df["Store Number"].unique():
    count = sum(df["Store Number"] == store_number)

    if count >= 90:
        store2count[store_number] = count

print(store2count)

{4725: 94, 2588: 360, 5259: 124, 5248: 93, 2641: 112, 5167: 192, 2556: 184}

In [ ]:
columns = ["Invoice/Item Number", "column_nameB"]

In [ ]:
trimmed_df = df.drop(["column_nameA", "column_nameB"], axis=1)

In [ ]:
trimmed_df.head(3)