In [1]:
import csv
import dask.dataframe as dd

In [2]:
# dtype_spec = {
#     "Invoice/Item Number": object,
#     "Date": object,
#     "Store Number": int,
#     "Store Name": object,
#     "Address": object,
#     "City": object,
#     "Zip Code": object,
#     "Store Location": object,
#     "County Number": float,
#     "County": object,
#     "Category": float,
#     "Category Name": object,
#     "Vendor Number": float,
#     "Vendor Name": object,
#     "Item Number": int,
#     "Item Description": object,
#     "Pack": int,
#     "Bottle Volume (ml)": int,
#     "State Bottle Cost": object,
#     "State Bottle Retail": object,
#     "Bottles Sold": int,
#     "Sale (Dollars)": object,
#     "Volume Sold (Liters)": float,
#     "Volume Sold (Gallons)": float,
# }

In [3]:
dtype_spec = {
    "Invoice/Item Number": object,
    "Date": object,
    "Store Number": object,
    "Store Name": object,
    "Address": object,
    "City": object,
    "Zip Code": object,
    "Store Location": object,
    "County Number": object,
    "County": object,
    "Category": object,
    "Category Name": object,
    "Vendor Number": object,
    "Vendor Name": object,
    "Item Number": object,
    "Item Description": object,
    "Pack": object,
    "Bottle Volume (ml)": object,
    "State Bottle Cost": object,
    "State Bottle Retail": object,
    "Bottles Sold": object,
    "Sale (Dollars)": object,
    "Volume Sold (Liters)": object,
    "Volume Sold (Gallons)": object,
}

In [ ]:
columns_to_keep = [
    "Date",
    # "Store Number",
    # "Store Name",
    # "City",
    # "County Number",
    # "County",
    # "Category",
    # "Category Name",
    "Vendor Number",
    "Vendor Name",
    # "Item Number",
    # "Bottle Volume (ml)",
    "Bottles Sold",
    "Sale (Dollars)",
]

In [4]:
columns_to_keep = [
    "Invoice/Item Number",
    "Date",
    "Store Number",
    "Store Name",
    "Address",
    "City",
    "Zip Code",
    "Store Location",
    "County Number",
    "County",
    "Category",
    "Category Name",
    "Vendor Number",
    "Vendor Name",
    "Item Number",
    "Item Description",
    "Pack",
    "Bottle Volume (ml)",
    "State Bottle Cost",
    "State Bottle Retail",
    "Bottles Sold",
    "Sale (Dollars)",
    "Volume Sold (Liters)",
    "Volume Sold (Gallons)",
]

In [5]:
df = dd.read_csv(
    "data/raw/Iowa_liquor_sales/Iowa_Liquor_Sales.csv",
    dtype=dtype_spec,
    usecols=columns_to_keep,
    assume_missing=True,
    quoting=csv.QUOTE_NONE,
)

In [6]:
filtered_df = df.dropna(subset=["Bottles Sold", "Sale (Dollars)"])

In [7]:
filtered_df = filtered_df.repartition(npartitions=1)

In [9]:
filtered_df["Date"] = dd.to_datetime(filtered_df["Date"])

In [11]:
filtered_df = filtered_df.sort_values("Date")

In [12]:
filtered_df = filtered_df.persist()

In [13]:
filtered_df.shape[0].compute()

2375

In [14]:
filtered_df.head(10)

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
351801,INV-00090800001,2016-09-01,4725,Casey's General Store #1548 / Ankeny,NaN,NaN,NaN,NaN,NaN,NaN,...,11296,Crown Royal,12,750,$15.07,$22.61,10,$22.61,7.50,1.98
357466,INV-00090800022,2016-09-01,4725,Casey's General Store #1548 / Ankeny,NaN,NaN,NaN,NaN,NaN,NaN,...,43331,Captain Morgan Spiced Rum Mini,12,500,$4.80,$7.20,1,$7.20,0.50,0.13
357411,INV-00090800021,2016-09-01,4725,Casey's General Store #1548 / Ankeny,NaN,NaN,NaN,NaN,NaN,NaN,...,88294,Patron Silver Tequila,12,375,$14.00,$21.00,3,$21.00,1.12,0.29
356714,INV-00090800020,2016-09-01,4725,Casey's General Store #1548 / Ankeny,NaN,NaN,NaN,NaN,NaN,NaN,...,86884,Southern Comfort,24,375,$4.78,$7.17,12,$7.17,4.50,1.18
356662,INV-00090800019,2016-09-01,4725,Casey's General Store #1548 / Ankeny,NaN,NaN,NaN,NaN,NaN,NaN,...,64858,Fireball Cinnamon Whiskey Mini Dispenser,1,3000,$29.72,$44.58,1,$44.58,3.00,0.79
355418,INV-00090800017,2016-09-01,4725,Casey's General Store #1548 / Ankeny,NaN,NaN,NaN,NaN,NaN,NaN,...,43338,Captain Morgan Spiced Rum,6,1750,$18.00,$27.00,3,$27.00,5.25,1.38
355363,INV-00090800016,2016-09-01,4725,Casey's General Store #1548 / Ankeny,NaN,NaN,NaN,NaN,NaN,NaN,...,43334,Captain Morgan Spiced Rum,24,375,$5.00,$7.50,12,$7.50,4.50,1.18
355092,INV-00090800015,2016-09-01,4725,Casey's General Store #1548 / Ankeny,NaN,NaN,NaN,NaN,NaN,NaN,...,43026,Admiral Nelson Spiced Rum,12,750,$5.78,$8.67,8,$8.67,6.00,1.58
355037,INV-00090800014,2016-09-01,4725,Casey's General Store #1548 / Ankeny,NaN,NaN,NaN,NaN,NaN,NaN,...,37996,Smirnoff Vodka 80 Prf,12,750,$8.25,$12.38,3,$12.38,2.25,0.59
354598,INV-00090800013,2016-09-01,4725,Casey's General Store #1548 / Ankeny,NaN,NaN,NaN,NaN,NaN,NaN,...,36904,Mccormick Vodka Pet,24,375,$1.80,$2.70,2,$64.80,0.75,0.19

In [15]:
filtered_df["Date"].min().compute()

Timestamp('2016-09-01 00:00:00')

In [16]:
filtered_df["Date"].max().compute()

Timestamp('2017-10-17 00:00:00')

In [17]:
# filtered_df.to_csv("data/clean/lowa_liquor_sales/lowa_liquor_sales_dropna.csv", index=False, single_file=True)

['/home/ubuntu/Downloads/forecast_demo/data/clean/lowa_liquor_sales/lowa_liquor_sales_dropna.csv']

In [18]:
nan_counts = filtered_df[columns_to_keep].isnull().sum().compute()
print(nan_counts)

Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                  2375
City                     2375
Zip Code                 2375
Store Location           2375
County Number            2375
County                   2375
Category                    4
Category Name               4
Vendor Number               0
Vendor Name                 0
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
dtype: int64

In [22]:
len(filtered_df.columns)

24

In [23]:
columns_to_drop = nan_counts[nan_counts > 2000].index

filtered_df = filtered_df.drop(columns=columns_to_drop)

In [24]:
len(filtered_df.columns)

18

In [29]:
columns_left = list(filtered_df.columns)

In [32]:
nan_counts = filtered_df.isnull().sum().compute()
print(nan_counts)

Invoice/Item Number      0
Date                     0
Store Number             0
Store Name               0
Category                 4
Category Name            4
Vendor Number            0
Vendor Name              0
Item Number              0
Item Description         0
Pack                     0
Bottle Volume (ml)       0
State Bottle Cost        0
State Bottle Retail      0
Bottles Sold             0
Sale (Dollars)           0
Volume Sold (Liters)     0
Volume Sold (Gallons)    0
dtype: int64

In [46]:
rows_with_nan = filtered_df[filtered_df.isnull().any(axis=1)].compute()
rows_with_nan

,Invoice/Item Number,Date,Store Number,Store Name,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
106944,INV-02113500001,2016-12-13,2588,Hy-Vee Food and Drug #6 / Cedar Rapids,NaN,NaN,434,LUXCO INC,80130,Ezra Brooks Bourbon Cream,12,750,$7.00,$10.50,1,$126.00,0.75,0.19
485142,INV-07213800002,2017-09-13,2556,Hy-Vee Wine and Spirits / Estherville,NaN,NaN,421,SAZERAC COMPANY INC,100015,Fireball Bag in Box,3,3500,$30.00,$45.00,1,$135.00,3.50,0.92
485141,INV-07213800001,2017-09-13,2556,Hy-Vee Wine and Spirits / Estherville,NaN,NaN,260,DIAGEO AMERICAS,43442,Captain Morgan Jack-O Blast,6,750,$9.00,$13.50,1,$81.00,0.75,0.19
484734,INV-07213800014,2017-09-13,2556,Hy-Vee Wine and Spirits / Estherville,NaN,NaN,260,DIAGEO AMERICAS,43439,Captain Morgan Jack-O Blast Mini,12,500,$4.96,$7.44,4,$7.44,2.00,0.52

In [47]:
filtered_df.shape[0].compute()

2375

In [51]:
filtered_df = filtered_df[~filtered_df.isnull().any(axis=1)].compute()

In [53]:
filtered_df.shape

(2371, 18)

In [54]:
filtered_df.head(10)

,Invoice/Item Number,Date,Store Number,Store Name,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
351801,INV-00090800001,2016-09-01,4725,Casey's General Store #1548 / Ankeny,1012100,Canadian Whiskies,260,DIAGEO AMERICAS,11296,Crown Royal,12,750,$15.07,$22.61,10,$22.61,7.50,1.98
357466,INV-00090800022,2016-09-01,4725,Casey's General Store #1548 / Ankeny,1062400,Spiced Rum,260,DIAGEO AMERICAS,43331,Captain Morgan Spiced Rum Mini,12,500,$4.80,$7.20,1,$7.20,0.50,0.13
357411,INV-00090800021,2016-09-01,4725,Casey's General Store #1548 / Ankeny,1022200,100% Agave Tequila,410,Patron Spirits Company,88294,Patron Silver Tequila,12,375,$14.00,$21.00,3,$21.00,1.12,0.29
356714,INV-00090800020,2016-09-01,4725,Casey's General Store #1548 / Ankeny,1081600,Whiskey Liqueur,421,SAZERAC COMPANY INC,86884,Southern Comfort,24,375,$4.78,$7.17,12,$7.17,4.50,1.18
356662,INV-00090800019,2016-09-01,4725,Casey's General Store #1548 / Ankeny,1081600,Whiskey Liqueur,421,SAZERAC COMPANY INC,64858,Fireball Cinnamon Whiskey Mini Dispenser,1,3000,$29.72,$44.58,1,$44.58,3.00,0.79
355418,INV-00090800017,2016-09-01,4725,Casey's General Store #1548 / Ankeny,1062400,Spiced Rum,260,DIAGEO AMERICAS,43338,Captain Morgan Spiced Rum,6,1750,$18.00,$27.00,3,$27.00,5.25,1.38
355363,INV-00090800016,2016-09-01,4725,Casey's General Store #1548 / Ankeny,1062400,Spiced Rum,260,DIAGEO AMERICAS,43334,Captain Morgan Spiced Rum,24,375,$5.00,$7.50,12,$7.50,4.50,1.18
355092,INV-00090800015,2016-09-01,4725,Casey's General Store #1548 / Ankeny,1062400,Spiced Rum,259,Heaven Hill Brands,43026,Admiral Nelson Spiced Rum,12,750,$5.78,$8.67,8,$8.67,6.00,1.58
355037,INV-00090800014,2016-09-01,4725,Casey's General Store #1548 / Ankeny,1031000,American Vodka,260,DIAGEO AMERICAS,37996,Smirnoff Vodka 80 Prf,12,750,$8.25,$12.38,3,$12.38,2.25,0.59
354598,INV-00090800013,2016-09-01,4725,Casey's General Store #1548 / Ankeny,1031000,American Vodka,300,McCormick Distilling Co.,36904,Mccormick Vodka Pet,24,375,$1.80,$2.70,2,$64.80,0.75,0.19

In [58]:
filtered_df.to_csv(
    "data/clean/lowa_liquor_sales/lowa_liquor_sales_dropna2.csv", index=False
)

In [57]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2371 entries, 351801 to 423173
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Invoice/Item Number    2371 non-null   object
 1   Date                   2371 non-null   datetime64[ns]
 2   Store Number           2371 non-null   object
 3   Store Name             2371 non-null   object
 4   Category               2371 non-null   object
 5   Category Name          2371 non-null   object
 6   Vendor Number          2371 non-null   object
 7   Vendor Name            2371 non-null   object
 8   Item Number            2371 non-null   object
 9   Item Description       2371 non-null   object
 10  Pack                   2371 non-null   object
 11  Bottle Volume (ml)     2371 non-null   object
 12  State Bottle Cost      2371 non-null   object
 13  State Bottle Retail    2371 non-null   object
 14  Bottles Sold           2371 non-null   object
 15  Sale (Dollars)         2371 non-null   object
 16  Volume Sold (Liters)   2371 non-null   object
 17  Volume Sold (Gallons)  2371 non-null   object
dtypes: datetime64[ns](1), object(17)
memory usage: 351.9+ KB