In [13]:
import pandas as pd

df = pd.read_csv("data/processed/walmart_sales/train_processed.csv")

skip = 0
save = 0

for (store, dept), group in df.groupby(["Store", "Dept"]):
    if group.shape[0] < 143:
        skip += 1
    else:
        filename = f"data/processed/walmart_sales/BySD/walmart_s{store}d{dept}.csv"
        group = group.drop(columns=["Store", "Dept"])
        group.to_csv(filename, index=False)
        save += 1

print(f"Skipped {skip} and saved {save} files")

Skipped 663 and saved 2660 files

In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv("data/processed/walmart_sales/train_processed.csv")

In [7]:
counts = dataset.groupby(["Store", "Dept"]).size().reset_index(name="StoreDept")

counts = counts[counts["StoreDept"] != 143]
print(counts)

      Store  Dept  StoreDept
16        1    18        113
41        1    45         71
43        1    47         22
44        1    48        125
46        1    51         33
...     ...   ...        ...
3306     45    78          8
3308     45    80        130
3318     45    94        134
3320     45    96          2
3322     45    98        135

[663 rows x 3 columns]

In [7]:
dataset.isna().sum()

Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
Temperature     0
Fuel_Price      0
MarkDown1       0
MarkDown2       0
MarkDown3       0
MarkDown4       0
MarkDown5       0
CPI             0
Unemployment    0
Type            0
Size            0
dtype: int64

In [9]:
dataset.columns

Index(['Store', 'Dept', 'Date', 'Weekly_Sales', 'IsHoliday', 'Temperature',
       'Fuel_Price', 'MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4',
       'MarkDown5', 'CPI', 'Unemployment', 'Type', 'Size'],
      dtype='object')

In [10]:
drop_col = ["Temperature", "MarkDown4", "MarkDown5", "CPI", "Unemployment"]

dataset = dataset.drop(drop_col, axis=1)

In [11]:
dataset.columns

Index(['Store', 'Dept', 'Date', 'Weekly_Sales', 'IsHoliday', 'Fuel_Price',
       'MarkDown1', 'MarkDown2', 'MarkDown3', 'Type', 'Size'],
      dtype='object')

In [12]:
dataset.to_csv("data/clean/walmart_sales/train_clean.csv", index=False)

In [13]:
dataset.dtypes

Store             int64
Dept              int64
Date             object
Weekly_Sales    float64
IsHoliday          bool
Fuel_Price      float64
MarkDown1       float64
MarkDown2       float64
MarkDown3       float64
Type             object
Size              int64
dtype: object

In [14]:
dataset["Date"] = pd.to_datetime(dataset["Date"])

In [15]:
dataset.dtypes

Store                    int64
Dept                     int64
Date            datetime64[ns]
Weekly_Sales           float64
IsHoliday                 bool
Fuel_Price             float64
MarkDown1              float64
MarkDown2              float64
MarkDown3              float64
Type                    object
Size                     int64
dtype: object

In [16]:
dataset["Date"].dt.isocalendar().week

0          5
1          6
2          7
3          8
4          9
          ..
421546    39
421547    40
421548    41
421549    42
421550    43
Name: week, Length: 421551, dtype: UInt32

In [17]:
dataset["Date"].dt.month

0          2
1          2
2          2
3          2
4          3
          ..
421546     9
421547    10
421548    10
421549    10
421550    10
Name: Date, Length: 421551, dtype: int32

In [18]:
dataset["Date"].dt.year

0         2010
1         2010
2         2010
3         2010
4         2010
          ...
421546    2012
421547    2012
421548    2012
421549    2012
421550    2012
Name: Date, Length: 421551, dtype: int32

In [19]:
dataset.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,Type,Size
0,1,1,2010-02-05,24924.50,False,2.572,0.0,0.0,0.0,A,151315
1,1,1,2010-02-12,46039.49,True,2.548,0.0,0.0,0.0,A,151315
2,1,1,2010-02-19,41595.55,False,2.514,0.0,0.0,0.0,A,151315
3,1,1,2010-02-26,19403.54,False,2.561,0.0,0.0,0.0,A,151315
4,1,1,2010-03-05,21827.90,False,2.625,0.0,0.0,0.0,A,151315

In [20]:
dataset["week"] = dataset["Date"].dt.isocalendar().week
dataset["month"] = dataset["Date"].dt.month
dataset["year"] = dataset["Date"].dt.year

In [21]:
dataset.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,Type,Size,week,month,year
0,1,1,2010-02-05,24924.50,False,2.572,0.0,0.0,0.0,A,151315,5,2,2010
1,1,1,2010-02-12,46039.49,True,2.548,0.0,0.0,0.0,A,151315,6,2,2010
2,1,1,2010-02-19,41595.55,False,2.514,0.0,0.0,0.0,A,151315,7,2,2010
3,1,1,2010-02-26,19403.54,False,2.561,0.0,0.0,0.0,A,151315,8,2,2010
4,1,1,2010-03-05,21827.90,False,2.625,0.0,0.0,0.0,A,151315,9,3,2010

In [22]:
dataset.dtypes

Store                    int64
Dept                     int64
Date            datetime64[ns]
Weekly_Sales           float64
IsHoliday                 bool
Fuel_Price             float64
MarkDown1              float64
MarkDown2              float64
MarkDown3              float64
Type                    object
Size                     int64
week                    UInt32
month                    int32
year                     int32
dtype: object

In [24]:
dataset["week"] = dataset["week"].astype("int")

In [25]:
dataset.dtypes

Store                    int64
Dept                     int64
Date            datetime64[ns]
Weekly_Sales           float64
IsHoliday                 bool
Fuel_Price             float64
MarkDown1              float64
MarkDown2              float64
MarkDown3              float64
Type                    object
Size                     int64
week                     int64
month                    int32
year                     int32
dtype: object

In [26]:
dataset.rename(columns={"week": "Week"}, inplace=True)

In [27]:
dataset.rename(columns={"month": "Month"}, inplace=True)

In [28]:
dataset.rename(columns={"year": "Year"}, inplace=True)

In [8]:
dataset.dtypes

Store             int64
Dept              int64
Type             object
Size              int64
Date             object
Year              int64
Month             int64
Week              int64
IsHoliday          bool
MarkDown1       float64
MarkDown2       float64
MarkDown3       float64
Fuel_Price      float64
Weekly_Sales    float64
dtype: object

In [30]:
dataset.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,Type,Size,Week,Month,Year
0,1,1,2010-02-05,24924.50,False,2.572,0.0,0.0,0.0,A,151315,5,2,2010
1,1,1,2010-02-12,46039.49,True,2.548,0.0,0.0,0.0,A,151315,6,2,2010
2,1,1,2010-02-19,41595.55,False,2.514,0.0,0.0,0.0,A,151315,7,2,2010
3,1,1,2010-02-26,19403.54,False,2.561,0.0,0.0,0.0,A,151315,8,2,2010
4,1,1,2010-03-05,21827.90,False,2.625,0.0,0.0,0.0,A,151315,9,3,2010

In [40]:
dataset.to_csv("data/clean/walmart_sales/train_clean.csv", index=False)

In [35]:
dataset.columns

Index(['Store', 'Dept', 'Date', 'Weekly_Sales', 'IsHoliday', 'Fuel_Price',
       'MarkDown1', 'MarkDown2', 'MarkDown3', 'Type', 'Size', 'Week', 'Month',
       'Year'],
      dtype='object')

In [36]:
dataset = dataset[
    [
        "Store",
        "Dept",
        "Type",
        "Size",
        "Date",
        "Year",
        "Month",
        "Week",
        "IsHoliday",
        "MarkDown1",
        "MarkDown2",
        "MarkDown3",
        "Fuel_Price",
        "Weekly_Sales",
    ]
]

In [37]:
dataset.head()

,Store,Dept,Type,Size,Date,Year,Month,Week,IsHoliday,MarkDown1,MarkDown2,MarkDown3,Fuel_Price,Weekly_Sales
0,1,1,A,151315,2010-02-05,2010,2,5,False,0.0,0.0,0.0,2.572,24924.50
1,1,1,A,151315,2010-02-12,2010,2,6,True,0.0,0.0,0.0,2.548,46039.49
2,1,1,A,151315,2010-02-19,2010,2,7,False,0.0,0.0,0.0,2.514,41595.55
3,1,1,A,151315,2010-02-26,2010,2,8,False,0.0,0.0,0.0,2.561,19403.54
4,1,1,A,151315,2010-03-05,2010,3,9,False,0.0,0.0,0.0,2.625,21827.90

In [38]:
dataset.isna().sum()

Store           0
Dept            0
Type            0
Size            0
Date            0
Year            0
Month           0
Week            0
IsHoliday       0
MarkDown1       0
MarkDown2       0
MarkDown3       0
Fuel_Price      0
Weekly_Sales    0
dtype: int64

In [39]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421551 entries, 0 to 421550
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421551 non-null  int64
 1   Dept          421551 non-null  int64
 2   Type          421551 non-null  object
 3   Size          421551 non-null  int64
 4   Date          421551 non-null  datetime64[ns]
 5   Year          421551 non-null  int32
 6   Month         421551 non-null  int32
 7   Week          421551 non-null  int64
 8   IsHoliday     421551 non-null  bool
 9   MarkDown1     421551 non-null  float64
 10  MarkDown2     421551 non-null  float64
 11  MarkDown3     421551 non-null  float64
 12  Fuel_Price    421551 non-null  float64
 13  Weekly_Sales  421551 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(5), int32(2), int64(4), object(1)
memory usage: 39.0+ MB